@charset "UTF-8";

@media (max-width: 1250px) {
    body{
        margin: 0 30px;
    }

    nav{
        margin-right: 0;
    }
}

@media (max-width:991px) {
    .uil-bars{
        display: block;
        font-size: 1.3rem;
        cursor: pointer;
        color: #667085;
        transition: .2s linear;
    }

    .uil-multiply{
        font-size: 1.2rem;
        cursor: pointer;
        color: #667085;
        transition: .2s linear;
        transform: rotate(180deg);
    }
    
    nav{
        position: absolute;
        border-top:2px solid #8E2424;
        top:10%; left: 0; right: 0;
        background-color: white;
        padding: 1rem;
        transition: .2s linear;
        display: none;
    }

    nav a{
        display: block;
        margin: 1rem;
    }

    .botoes{
        position: absolute;
        top: 20%; left: 60%; right: 0;
        text-align: center;
        transition: .2s linear;
        display: none;
    }

    .active-nav{
        display: block;
        transition: .2s linear;
    }

    .active-btn{
        display: block;
        transition: .2s linear;
    }

    .for-cad{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}