@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --cor01: #8E2424;
    --cor02: #667085;
}

body{
    margin: 0px 80px;
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav{
    margin-right: 250px;
}

a{
    color: var(--cor02);
    padding: 0px 13px;
}

nav > a:hover, .butoes > a:hover{
    text-decoration: underline;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 17px;
    color: var(--cor02);
    font-weight: 500;
}

.logo > img{
    margin-right: 10px;
}

.cadastro{
    border-radius: 8px;
    padding: 10px 18px;
    background-color: var(--cor01);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'inter';
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
}

.cabecalho span{
    font-size: 16px;
    color: var(--cor01);
    font-weight: 600;
}

.cabecalho h1{
    margin: 30px 0px;
    font-size: 38px;
}

.cabecalho p{
    max-width: 780px;
    text-align: center;
    font-size: 19px;
    color: var(--cor02);
    line-height: 23px;
}

.metricas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 96px;
}

.info-metricas{
    width: 300px;
    height: 168px;
    text-align: left;
}

.info-metricas h1{
    color: var(--cor01);
    font-size: 50px;
    letter-spacing: -0.02em;
    line-height: 72px;
}

.info-metricas p{
    line-height: 40px;
}

.info-metricas span{
    color: var(--cor02);
    font-size: 14px;
}

.talentos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talentos span{
    font-size: 14px;
    color: var(--cor01);
    font-weight: 500;
}

.talentos h2{
    margin: 30px 0px;
    font-size: 30px;
}

.talentos p{
    padding-bottom: 40px;
    font-size: 17px;
    color: var(--cor02);
}

.talentos img{
    width: 88vw;
}

.vaga{
    width: 768px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

.area-vaga{
    padding-bottom: 60px;
    text-indent: -20px;
    font-size: 18px;
}

.titulo-vaga{
    padding-bottom: 30px;
}

.informacao-vaga{
    padding-bottom: 30px;
}

.informacao-vaga span{
    padding-right: 20px;
    font-size: 14px;
    color: var(--cor02);
}

.depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
}

.depoimentos span{
    font-size: 14px;
    font-weight: 600;
    color: var(--cor01);
}

.depoimentos h2{
    font-size: 30px;
    max-width: 1088px;
    text-align: center;
    padding: 30px 0;
}

.depoimentos p{
    line-height: 25px;
}

.modif{
    font-size: 14px;
    color: var(--cor02);
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario h2{
    font-size: 30px;
    padding-top: 40px;
}

.formulario span{
    font-size: 17px;
    color: var(--cor02);
    padding: 30px 0;
}

.formulario #mail{
    border-radius: 8px;
    padding: 10px 15px;
    padding-right: 120px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.formulario footer{
    padding: 30px 0;
    font-size: 14px;
    color: var(--cor02);
}